* {
  border: none;
  font-family: 'JetBrainsMono', 'Symbols Nerd Font Mono';
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 14px;
  /* was 45 px */
}

window#waybar {
  background: transparent;
}

#custom-nix, #workspaces {
  border-radius: 10px;
  background-color: rgba(30, 30, 46, .85);
  color: #b4befe;
  margin-top: 15px;
  margin-right: 10px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-nix {
  font-size: 18px;
  margin-left: 10px;
  color: #b4befe;
}

#clock, #backlight, #network, #pulseaudio, #bluetooth, #network, #battery, #custom-power{
  border-radius: 10px;
  background-color: rgba(30, 30, 46, .85);
  color: #b4befe;
  margin-top: 15px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  margin-right: 0;
}
